@import "../../../../../erdmannfreunde/euf_nutshell/files/nutshell/scss/base/page";

html{
  scroll-behavior: smooth;
}

body{
  overflow: hidden;
}

.block--small{
  margin: 0 5%;
  @include media-query(screen-md) {
    margin: 0 15%;
  }
}

.block--smaller{
  margin: 0 15%;
  @include media-query(screen-md){
    margin: 0 25%;
  }
}


