.spacing--sm{
  padding-top: var(--base-spacing-unit--sm);
  padding-bottom: var(--base-spacing-unit--sm);
}

.spacing--xl{
  padding-top: var(--base-spacing-unit--xl);
  padding-bottom: var(--base-spacing-unit--xl);
}

.spacing--lg{
  padding-top: var(--base-spacing-unit--lg);
  padding-bottom: var(--base-spacing-unit--lg);
}

.spacing--xs{
  padding-top: var(--base-spacing-unit--xs);
  padding-bottom: var(--base-spacing-unit--xs);
}

.spacing{
  padding-top: var(--base-spacing-unit);
  padding-bottom: var(--base-spacing-unit);
}


