@import "../../../../../../assets/nutshell/scss/base/type";

.text--left{
  text-align: left;
}

.text--center{
  text-align: center;
}

.text--right{
  text-align: right;
}

.text--invert{
  --headings__color: var(--color-text--inverted);

  color: var(--color-text--inverted);
}

figure+h1,
figure+h2,
figure+h3,
figure+h4,
figure+h5,
figure+h6{
  margin-top: var(--base-spacing-unit);
}
