.band{
	@include wrapper-max(none);

  	padding-top: 3rem;
  	padding-bottom: 3rem;
  	background-color: var(--color-default);
    color: var(--color-text--inverted);
    a,h1,h2,h3,h4,h5,h6 {
      color: var(--color-text--inverted);
    }

	.ce_text.last{
		margin-bottom: 0;
	}

  	//Different Colors
  	&.band--gray{
  		background-color: var(--color-gray);
  	}

  	&.band--gray-light{
  		background-color: var(--color-gray-light);
  	}

  	//Different Sizes
  	&.band--thin{
  		padding-top: 1rem;
  		padding-bottom: 1rem;
  	}

  	&.band--fat{
  		padding-top: 5rem;
  		padding-bottom: 5rem;
  	}

  	&.band--full{
  		height: 100vh;
  	}

  	.inside{
  		@include wrapper-max;
  		@include padding-default;
  	}
}
