html{
  --hero-headings__font-family: var(--headings__font-family);
}

.hero{
  @include wrapper-max(none);
  padding: 0;
  background-color: var(--color-page-background);
  height: calc(100vh - 5rem); //fullheight

  .inside{
    height: 100%;
  }

  /*.slick-dots{
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);

    li{
      float: left;
      list-style-type: none;
      margin: 0.4rem;
    }

    button{
      border: none;
      border-radius: 0.4rem;
      width: 0.8rem;
      height: 0.8rem;
      text-indent: -999px;
      overflow: hidden;
      outline: none;
      background-color: $color-default;
    }
  }*/

  &--full-height{
    //height: calc(100vh - 5rem);

    /*.ce_image img{
      height: calc(100vh - 5rem);
    }*/
  }

  &--full-height--shorter{
    height: calc(100vh - 10rem);

    /*.ce_image img{
     height: calc(100vh - 10rem);
   }*/
  }

  &-background{
    position: absolute;
    width: 100%;
    height: 100%;

    iframe, figure{
      width: 100%;
      height: 100%;
    }

    img, video{
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;'; //IE HACK for object-fit polyfill
    }


    /*.slick-slide{
      padding: 0;
    }*/

    //Darken
    &--darken:after{
      content:"";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0,0.5);
      top: 0;
    }

    //Don't show any overlays on the video in hero background
    .mejs__overlay{
      display: none;
    }
  }

  &-text{
    position: relative;
    font-size: 1.3em;
    width: 60%;
    margin: 0 auto;
    color: var(--color-text--inverted);
    //@include vertical-align();

    h1,h2,h3,h4,h5,h6{
      color: var(--color-text--inverted);
      font-weight: var(--base-font-weight-bold);
      line-height: 3rem;
      font-size: 2.5rem;
      font-family: var(--hero-headings__font-family);
    }
  }

  &-arrow{
    position: absolute;
    background-color: #fff;
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    font-size: 3.5rem;
    padding: 1rem 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;

    a{
      padding: 1rem 3rem;
    }
  }
}

.header--transparent{
  .hero{
    height: 100vh;
  }

  .hero--full-height--shorter{
    height: calc(100vh - 5rem);
  }
}
