.logo{
  .symbol{
    display: inline-block;
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;
    height: $header-height;
  }

  img{
    height: 100%;
    float: left;
  }
}

