.band{
	@include wrapper-max(none);

  	padding-top: 3rem;
  	padding-bottom: 3rem;
  	background-color: var(--color-default);

	color: var(--color-text--inverted);
    a,h1,h2,h3,h4,h5,h6 {
      color: var(--color-text--inverted);
    }

	a.btn--primary,
	span.btn--primary,
	button.btn--primary,
	div.btn--primary>a,
	div.btn--primary>button{
		background-color: var(--color-page-background);
		color: var(--color-btn);
	}

	a.btn--third,
	span.btn--third,
	button.btn--third,
	div.btn--third>a,
	div.btn--third>button{
		&:hover{
			color: var(--color-btn-text);
		}
	}

	a.btn--link,
	span.btn--link,
	button.btn--link,
	div.btn--link>a,
	div.btn--link>button{
		color: var(--color-btn-text);
	}


	.ce_text.last{
		margin-bottom: 0;
	}

  	//Different Colors
  	&.band--gray{
  		background-color: var(--color-gray);
		color: var(--color-gray-dark);
		a,h1,h2,h3,h4,h5,h6 {
			color: var(--color-gray-dark);
		}
  	}

  	&.band--gray-light{
  		background-color: var(--color-gray-light);
  	}

	&.band--brand{
		background-color: var(--color-brand);
	}

  	//Different Sizes
	//TODO band--spacing-lg etc..
  	&.band--thin{
  		padding-top: 1rem;
  		padding-bottom: 1rem;
  	}

  	&.band--fat{
  		padding-top: 5rem;
  		padding-bottom: 5rem;
  	}

  	&.band--full{
  		height: 100vh;
  	}

  	.inside{
  		@include wrapper-max;
  		@include padding-default;
  	}
}

//Spezieller Einsatz von Band auf Basis von Content Elementen, färbt Hintergrund, z.B. als Infobox
div[class*='ce_'].band{
	padding: var(--base-spacing-unit);
}
