@import "../../../../../../assets/nutshell/scss/components/links";

html{
  --button-secondary-background:          var(--color-gray);
  --button-secondary-background--hover:   var(--color-gray-light);
  --button-secondary-color:               var(--color-text-inverted);

  --button-tertiary-background:           var(--color-gray);
  --button-tertiary-background--hover:    var(--color-gray);
  --button-tertiary-color:                var(--color-gray);
}

.link-animation--zoom{
  figure
  {
    a{
      overflow: hidden;
      display: block;
    }

    a img{
      transition: 0.2s ease;
    }

    a:hover img{
      transform: scale(1.05);
    }
  }
}

a.btn--secondary,
span.btn--secondary,
button.btn--secondary,
div.btn--secondary>a,
div.btn--secondary>button{
  background: var(--button-secondary-background);
  color: var(--button-secondary-color);

  &:hover {
    background: var(--button-secondary-background--hover);
  }
}

a.btn--third, a.btn--tertiary,
span.btn--third, span.btn--tertiary,
button.btn--third, button.btn--tertiary,
div.btn--third>a, div.btn--tertiary>a,
div.btn--third>button, div.btn--tertiary>button {
  color: var(--button-tertiary-color);
  border: 2px solid;

  &:hover {
    color: var(--button-color);
  }
}

a.btn--link, 
span.btn--link,
button.btn--link,
div.btn--link>a,
div.btn--link>button{
  color: var(--button-color);
  border: 2px solid;

  &:hover {
    color: var(--button-tertiary-color);
  }
}

//Button Größen
.btn--size-sm{
  font-size: 0.8em;
}

.btn--size-lg{
  font-size: 1.5em;
}

.btn--size-xl{
  font-size: 2em;
}

