//@import "../../../../../erdmannfreunde/euf_nutshell/files/nutshell/scss/components/slider";

// VARIABLES
html {
  --arrow-color:               inherit;
  --arrow-size:                2rem;
  --menu-point-color:          inherit;
  --menu-point-color--active:  var(--color-brand);
  --arrow-prev:                "◄";
  --arrow-next:                "►";
}

//
// COMPONENTS/SLIDER
// --------------------------------------------------


// default slider
// NOTES:
// [1] overrides default contao slider styling
// [2] some fonts use different sizes for left and right arrow.
//     We take Arial to make sure it has the same size.
.slider {
  position: relative;

  .slider-control {
    position: static; // [1]
    height: 0; // [1]
  }

  .slider-wrapper{
    &>.block{
      margin: 0;
    }
  }

  .slider-control a{
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-indent: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50px;
    line-height: calc(var(--arrow-size)*3);
    position: absolute;
    display: block;
    font-size: var(--arrow-size);
    color: var(--arrow-color);
    //@extend %fa-icon;
    //@extend .fas;

    &:before{
      display: block;
      width: 50px;
      line-height: calc(var(--arrow-size)*3);
      background: rgba(0,0,0,0.2);
      position: absolute;
      left: 0;
      top: 0;
      text-indent: 0;
      padding: 0;
      text-align: center;
      border-radius: var(--base-border-radius);
    }
  }
  /*.slider-prev:before {
    content: fa-content($fa-var-chevron-left);
  }

  .slider-next:before {
    content: fa-content($fa-var-chevron-right);
  }*/
  .slider-prev:before {
    content: var(--arrow-prev);
  }

  .slider-next:before {
    content: var(--arrow-next);
  }

  .slider-menu {
    font-size: 3rem;
    line-height: 1;

    top: auto; // [1]
    bottom: 0; // [1]

    b {
      color: var(--menu-point-color); // [1]
    }

    b.active {
      color: var(--menu-point-color--active); // [1]
    }

    b:hover {
      opacity: 0.5;
    }
  }

}

