@import "../../../../../../assets/nutshell/scss/mixins/general";

// make-row
@mixin make-row-flexible() {
  display: grid;
  grid-template-columns: repeat(var(--grid__columns), 1fr);
  grid-column-gap: var(--grid__gutter);
  grid-auto-columns: 1fr;

  @supports not (display: grid) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--grid__gutter) / 2);
    margin-right: calc(-1 * var(--grid__gutter) / 2);
  }

  .ie & {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--grid__gutter) / 2);
    margin-right: calc(-1 * var(--grid__gutter) / 2);
  }
}
