/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

@import "../../../node_modules/hamburgers/_sass/hamburgers/base";

.hamburger{
  height: $header-height;


  @include media-query($breakpoint-menu) {
    display: none;
  }

  &:focus{
    outline: none;
  }

  &--right{
    float: right;
  }

  &--left{
    float: left;
  }

  &-label{
    display: block;
    float: left;
    padding: 0 1rem;
    color: $hamburger-label-color;
  }
}
