@import "hamburger-variables";
@import "hamburger-types";
@import "hamburger";

.hamburger{
  @include media-query(screen-offcanvas) {
    display: none;
  }
}

.hamburger:focus{
  outline: none;
}

.hamburger-right{
  float: right;
}

.hamburger-left{
  float: left;
}

.hamburger-label{
  display: block;
  float: left;
  padding: 0 1rem;
}


.nav-head {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  height: auto;

  a, strong.active{
    text-decoration: none;
    position: relative;
    padding: 0 1rem;
    line-height: $header-height;
  }

  li a{
    padding-top: $nav-toggler-height;
  }

  strong.active, a:hover{
    border-top: $nav-toggler-border;
    padding-top: 0;
  }

  a:hover{
    color: $color-gray;
    transition: color 0.3s ease;
  }
}

@include media-query(screen-offcanvas) {
  .nav-head{
    float: right;
    font-size: 1rem;
    width: auto;

    //Make everything visible
    position: relative;
    height: auto;
    display: block;
    top: 0;
    left: 0;

  }
}
