html{
  --header-height: 7rem;
}

@import 'header-base';

.hamburger{
  float: right;
}

.nav-bricks{

  li a{
    padding-top: var(--nav--main__toggler-height);
  }

  a:hover,
  strong.active,
  strong.trail,
  a.trail {
    border-top: var(--nav--main__toggler-border);
    padding-top: 0;
  }

  @include media-query($breakpoint-menu){
    .level_2{
      display: none;
    }
  }
}
