$header-height: 7rem !default;
$logo-height: $header-height !default;
$logo-padding: $base-spacing-unit !default;

$nav--main__toggler-height: $base-border-width*5 !default;
$nav--main__toggler-color: $color-default;
$nav--main__toggler-border: $nav--main__toggler-height solid $nav--main__toggler-color;

$nav--main__color: $color-gray !default;
$nav--main__color-hover: $color-default !default;

$hamburger-layer-color: $nav--main__color !default;
$hamburger-label-color: $nav--main__color !default;

$breakpoint-menu: screen-offcanvas !default;

@import '../navigation/navigation';

.section-header{
  @extend %clearfix;
}

.section-header__inside{
  @include wrapper-max;
  @include padding-default;
}

.logo{
  .symbol{
    display: inline-block;
    padding-top: $logo-padding;
    padding-bottom: $logo-padding;
    height: $logo-height;
  }

  img{
    height: 100%;
    float: left;
  }
}


