$breakpoint-menu: screen-md !default;

html{
  --header-height: 7rem;
  --logo-height: var(--header-height);
  --logo-padding: var(--base-spacing-unit);

  --nav--main__toggler-height: calc(var(--base-border-width)*5);
  --nav--main__toggler-color: var(--color-default);
  --nav--main__toggler-border: var(--nav--main__toggler-height) solid var(--nav--main__toggler-color);
  --nav--main__color: var(--color-gray);
  --nav--main__color-hover: var(--color-default);

  --hamburger-layer-color: var(--nav--main__color);
  --hamburger-label-color: var(--nav--main__color);
}

.section-header{
  //@extend %clearfix;
}

.section-header__inside{
  @include wrapper-max;
  @include padding-default;
}

.logo{
  .symbol{
    display: inline-block;
    padding-top: var(--logo-padding);
    padding-bottom: var(--logo-padding);

  }

  img{
    height: 30px;
    float: left;
  }
}


