html{
  --color-footer-background: var(--color-default);
  --color-footer-text: var(--color-text--inverted);
  --color-footer-link: var(--color-footer-text);
}

.section-footer{
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);

  a{
    color: var(--color-footer-link);
  }
}
