html{
  --layout-footer-background: var(--color-default);
  --layout-footer-color: var(--color-text-inverted);
  --layout-footer-link-color: var(--layout-footer-color);

}

footer{
  background-color: var(--layout-footer-background);
  color: var(--layout-footer-color);

  a{
    color: var(--layout-footer-link-color);
  }
}

footer>.inside{
  @include wrapper-max;
}