@import 'footer-base';

.section-footer, footer{

  .widget {
    position:relative;
    font-size: 0.9rem;

    & + .widget {
      margin-top: 30px;
    }

    label{
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 10;
      cursor: pointer;
      transition: transform 150ms ease-out, font-size 150ms ease-out;
    }

    input, textarea{
      position: relative;
      padding: 12px 0px 5px 0;
      width: 100%;
      outline: 0;
      border: 0;
      box-shadow: 0 1px 0 0 var(--color-footer-text);
      transition: box-shadow 150ms ease-out;
      background-color: transparent;
      color: var(--color-footer-text);
      border-radius: 0;

      &:focus {
        //box-shadow: 0 -1px 0 0 scale_color(var(--color-brand), $saturation: 30%);
      }

      &.filled{
        //box-shadow: 0 2px 0 0 var(--color-brand);
      }
    }

    &.widget-checkbox{
      label{
        position: relative
      }

      input{
        width: auto;
      }
    }

    //Error Spezialfall, wenn Widget kein Value hat (nicht focused ist)
    &.error{
      p{
        color: #e65100;
        position: absolute;
        top: -1rem;
      }
    }

    //Label kleiner und nach oben gesetzt
    &.focused{
      label{
        transform: translateY(-125%);
        font-size: .75em;
      }

      &.error{
        p{
          transform: translateY(10%);
          font-size: .75em;
          top: 0;
        }

        input, textarea{
          padding-top: 24px;
        }
      }
    }
  }
}
